*{
	margin:0px;
	padding:0px;
}

html{
	background:#0984e3;
}

body{
	background:white;
	width:800px;
	height:500px;
	margin:0 auto;
	padding:15px;
	font-family:roboto;
	color:#2d3436;
}

h1{
	text-align:center;
	border-bottom:1px solid grey;
	font-family:Galada;
	padding:20px;
	margin-bottom:25px;
	color:#6c5ce7;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}